<section id="about" class="about">
  <div class="container about__container">
    <div class="about__text-box text-box">
      <code class="text-box__code-bracket">{/}</code>
      <h2 class="text-box__title title">_Обо мне<code class="text-box__code">()</code></h2>
      <p class="text-box__text">Меня зовут Глеб Степанов, мне 27 лет. Я занимаюсь разработкой сайтов.</p>
    </div>
    <div class="about__inner">
      <p class="about__inner-text about__inner-text--heading">
        Я только начинаю свой путь в разработке, но уверен, что те знания, которыми я обладаю, принесут пользу вам и вашей компании !
      </p>
      <p class="about__inner-text">
        Я занимаюсь версткой, оживляю сайты с помощью JavaScript, а также делаю их гибкими, красивыми и адаптивными с использованием CSS !
      </p>
    </div>
  </div>
</section>
