<section id="contacts" class="contacts">
  <div class="container contacts__container">
    <div class="contacts__text-box text-box">
      <code class="text-box__code-bracket">{*}</code>
      <h2 class="text-box__title title">_Контакты<code class="text-box__code">()</code></h2>
      <p class="text-box__text">Можете связаться со мной через соцсети:</p>
    </div>
    <ul class="contacts__list list-reset">
      <li class="contacts__item">
        <a href="https://github.com/BreadIsBack" target="_blank" class="contacts__link">
          <svg class="contacts__svg">
            <use xlink:href="img/sprite.svg#git"></use>
          </svg>
        </a>
      </li>
      <li class="contacts__item">
        <a href="https://t.me/xlebusheks" target="_blank" class="contacts__link">
          <svg class="contacts__svg">
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="contacts__item">
        <a href="https://wa.me/89182026262" target="_blank" class="contacts__link">
          <svg class="contacts__svg">
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="contacts__item">
        <a href="https://vk.com/idforfun" target="_blank" class="contacts__link">
          <svg class="contacts__svg">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
