<section id="portfolio" class="portfolio">
  <div class="container portfolio__container">
    <div class="portfolio__text-box text-box">
      <code class="text-box__code-bracket">{!}</code>
      <h2 class="text-box__title title">_Портфолио<code class="text-box__code">()</code></h2>
      <p class="text-box__text">Здесь собраны мои лучшие работы.</p>
    </div>
    <div class="portfolio__wrapper">
      <ul class="portfolio__list list-reset">
        <li class="portfolio__item">
          <a href="https://breadisback.github.io/Speaky-school/" target="_blank" class="portfolio__link">
            <div class="portfolio__img-wrapper">
              <img src="img/portfolio/speaky-full.jpg" alt="Скриншот сайта Speaky School" class="portfolio__img">
            </div>
            <p class="portfolio__descr">
              <code class="portfolio__code">//</code>
              Многостраничный сайт школы изучения иностранных языков. Большое количество JS, практика БЭМ и многое
              другое.
            </p>
          </a>
        </li>
        <li class="portfolio__item">
          <a href="https://breadisback.github.io/Okna-House/" class="portfolio__link" target="_blank">
            <div class="portfolio__img-wrapper">
              <img src="img/portfolio/okna-full.jpg" alt="Скриншот сайта Окна Хаус" class="portfolio__img">
            </div>
            <p class="portfolio__descr">
              <code class="portfolio__code">//</code>
              Лендинг компании, занимающейся остеклением. Много модальных окон, форм и табов.
            </p>
          </a>
        </li>
        <li class="portfolio__item">
          <a href="https://breadisback.github.io/Belalea/" class="portfolio__link" target="_blank">
            <div class="portfolio__img-wrapper">
              <img src="img/portfolio/belalea.jpg" alt="Скриншот сайта Belalea" class="portfolio__img">
            </div>
            <p class="portfolio__descr">
              <code class="portfolio__code">//</code>
              Многостраничный сайт компании, занимающейся производством и продажей собственной натуральной продукции.
              Каталог и карточка товара.
            </p>
          </a>
        </li>
        <li class="portfolio__item">
          <a href="https://breadisback.github.io/Sultan/" class="portfolio__link" target="_blank">
            <div class="portfolio__img-wrapper">
              <img src="img/portfolio/sultan.jpg" alt="Скриншот сайта Sultan" class="portfolio__img">
            </div>
            <p class="portfolio__descr">
              <code class="portfolio__code">//</code>
              Многостраничный сайт интернет-магазина по продаже бытовой химии, косметики и хозтоваров.
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
