<section id="services" class="services bg-attach bg-attach--services">
  <div class="container services__container">
    <div class="services__text-box text-box">
      <code class="text-box__code-bracket">{#}</code>
      <h2 class="text-box__title title">_Услуги<code class="text-box__code">()</code></h2>
      <p class="text-box__text">То, чем могу быть вам полезен:</p>
    </div>
    <ul class="services__list list-reset">
      <li class="services__item services__item--blue">
        <p class="services__text"><code class="services__code">{" </code>_Верстка много- и одностраничных сайтов<code> "}</code></p>
      </li>
      <li class="services__item services__item--light-blue">
        <p class="services__text"><code class="services__code">{" </code>_Верстка под Wordpress<code> "}</code></p>
      </li>
      <li class="services__item services__item--yellow">
        <p class="services__text"><code class="services__code">{" </code>_Корректировка уже созданных сайтов<code> "}</code></p>
      </li>
    </ul>
  </div>
</section>
