// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "SilkScreen";
  --second-family: "Roboto";
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #212121;
  --dark-light: #292929;
  --yellow-color: #e6db74;
  --blue-color: #9a99ff;
  --light-blue: #8ed1fc;

  --test-color: #94a3b8;
  --test-color2: rgba(255, 255, 255, 0.12);
  --grey-color: #808285;
}
