// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "SilkScreen";
  --second-family: "Roboto";
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #212121;
  --yellow-color: #e6db74;
}
